/* General */
.cursive-font{
    font-family: 'Sofia', cursive;
}

.theme-color{
    background-color: #f47321;
}

/* base.html */
html{
    padding-bottom: 40px;
}

.bg-success {
    background-color: #ffe2a2;
}

.navbar{
    background-color: #f47321;
    font-size: 1.5em;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand{
    font-size: 1.5em;
}

/* b-g color of navbar menu items when focused */
.navbar-default .navbar-nav>.open>a:focus{
    background-color: #d25a0d;
}

.navbar-default .navbar-nav>li>.search_by:hover {
    color: #777;
}

/* Collapse point of navbar at 991px */
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

/* Footer */
footer {
    position: fixed;
    background-color: #f47321;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    left: 0;
    bottom: 0px;
    right: 0;
    text-align: center;
    z-index: 1;
    color: #777;
}

.footer{
    margin: 0;
}

.credits{
    margin: 10px;
}




/* home.html */


/* Carousel */
.carousel-caption, .carousel-indicators{
    color: #fff;
    bottom: 30%;
}

@media (max-width: 991px){
    .carousel-indicators, .carousel-caption {
    bottom: 10px;
    }
}

/* Jumbotron */
.jumbotron{
    margin-bottom: 0px;
    background-color: #000;
    color: #c1b8b8;
    padding: 0px 0px;
}

.button-jumbotron, .button-jumbotron:active:focus{
    color: #000;
    background-color: #777777;
    border-color: #777777;
}
.button-jumbotron:hover, .button-jumbotron:focus{
    color: #000;
    background-color: #a7a7a7;
    border-color: #a7a7a7;
}

/* recipes.html */
/* container recipe_html */
.recipe_html{
    margin-top: 15px;
}

.button-cards, .button-cards:active:focus{
    color: #060505;
    background-color: #f47321;
    border-color: #000;
    width: 100%;
}

.button-cards:hover, .button-cards:focus{
    color: #060505;
    background-color: #ce5508;
    border-color: #000;
}



/* recipe_details.html */
.header-details{
    color: #777;
    font-size: 32px
}

.rec-det{
    font-size: 1.5em;
}

.page-header {
     border-bottom: 0; 
}

/* add_recipe.html */
.add-rec{
    margin-top: 20px;
}

.well{
    padding: 0;
    background-color: #fff;
    border: 0;
}
.collapseQuantity{
    margin-top: 34px;
}

/* Lists in edit_recipe.html and add_recipe.html */
.quantity {
  list-style: none; /* Remove HTML bullets */
  padding: 0;
  margin: 0;
}

.ingredients{
    padding-left: 15px;
}

.instructions{
    padding-left: 15px;
}