.navbar{
    background-color: #f47321;
    font-family: 'Sofia', cursive;
    font-size: 1.5em;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand{
    font-size: 1.5em;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus{
    background-color: #d25a0d;
}
