{% extends 'base.html' %}
{% block content %}

<div class="page-header text-center">
    <h1 class="header-details cursive-font">
        <p>Add your own recipe to my cookbook</p>
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    </h1>
</div>

<div class="container add-rec">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 ">
            <div class="thumbnail">
                <form action="{{url_for('insert_recipe')}}" method="POST">
                    
                    
                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="recipe_name">Recipe name</label>
                            <input type="text" class="form-control" id="recipe_name" name="recipe_name" placeholder="e.g. chicken curry" required>
                        </div>
    
                         <div class="form-group">
                            <label for="recipe_description">Small Description</label>
                            <textarea type="text" rows="3" class="form-control" id="recipe_description" name="recipe_description" placeholder="e.g. Classic indian dish, easy to make" required></textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="recipe_img">Add image (https://)</label>
                            <input type="file" id="recipe_img" name="recipe_img">
                            <p class="help-block">Add your own image if desired</p>
                        </div>

                        <div class="form-group">
                            <label for="recipe_country">Country Of Origin</label>
                            <select class="form-control" required>
                              <option selected disabled>Choose One</option>
                              <option>France</option>
                              <option>Thailand</option>
                              <option>England</option>
                              <option>America</option>
                              <option>India</option>
                              <option>Italy</option>
                              <option>Other</option>
                            </select>
                            <!--<input type="text" class="form-control" id="recipe_country" name="recipe_country" placeholder="e.g. France" required>-->
                        </div>
                        <div class="form-group">
                            <label for="course_type">Type Of Course</label>
                            <select class="form-control" required>
                              <option selected disabled>Choose One</option>
                              <option id="course_type" name="course_type">Breakfast</option>
                              <option id="course_type" name="course_type">Starter</option>
                              <option id="course_type" name="course_type">Main</option>
                              <option id="course_type" name="course_type">Desert</option>
                              <option id="course_type" name="course_type">Other</option>
                            </select>
                            <!--<input type="text" class="form-control" id="course_type" name="course_type" placeholder="e.g. Main" required>-->
                        </div>
                        
                         <div class="checkbox">
                            <label>
                                <input type="checkbox" id="vegetarian_recipe" name="vegetarian_recipe"> Tick if vegeterian 
                            </label>
                        </div>
                    </div>
                    
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-8">
                                 <div class="form-group">
                                    <label for="recipe_ingredients">List of Ingredients</label>
                                    <ol class="ingredients">
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredient.0" name="recipe_ingredient.0" placeholder="e.g. Chicken breast" required>
                                        </li>
                                        <br>
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredient.1" name="recipe_ingredient.1" placeholder="e.g. Chicken breast" required>
                                        </li>
                                        <br>
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredient.2" name="recipe_ingredient.2" placeholder="e.g. Chicken breast" required>
                                        </li>
                                        <br>
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredient.3" name="recipe_ingredient.3" placeholder="e.g. Chicken breast">
                                        </li>
                                        <br>
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredient.4" name="recipe_ingredient.4" placeholder="e.g. Chicken breast">
                                        </li>
                                        <br>
                                        <li>
                                        </li>
                                        <br>
                                        <br>
                                    </ol>
                                </div>
                            </div>
                             <div class="col-xs-4">
                                 <div class="form-group">
                                    <label for="recipe_ingredients_quantity">Quantity</label>
                                    <ul class="quantity">
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredients_quantity.0" name="recipe_ingredients_quantity.0" placeholder="e.g. 200g" required>
                                        </li>
                                        <br>
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredients_quantity.1" name="recipe_ingredients_quantity.1" placeholder="e.g. 200g" required>
                                        </li>
                                        <br>
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredients_quantity.2" name="recipe_ingredients_quantity.2" placeholder="e.g. 200g" required>
                                        </li>
                                        <br>
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredients_quantity.3" name="recipe_ingredients_quantity.3" placeholder="e.g. 200g">
                                        </li>
                                        <br>
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredients_quantity.4" name="recipe_ingredients_quantity.4" placeholder="e.g. 200g">
                                        </li>
                                        <br>
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredients_quantity.5" name="recipe_ingredients_quantity.5" placeholder="e.g. 200g">
                                        </li>
                                        <br>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    
                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="recipe_instruction">Recipe Method</label>
                            <ol class="instructions">
                                <li>
                                <textarea type="text" rows="3" class="form-control" id="recipe_instruction.0" name="recipe_instruction.0" placeholder="Step 1" required></textarea>
                                </li>
                                <br>
                                <li>
                                <textarea type="text" rows="3" class="form-control" id="recipe_instruction.1" name="recipe_instruction.1" placeholder="Step 2" required></textarea>
                                </li>
                                <br>
                                <li>
                                <textarea type="text" rows="3" class="form-control" id="recipe_instruction.2" name="recipe_instruction.2" placeholder="Step 3"></textarea>
                                </li>
                                <br>
                                <li>
                                <textarea type="text" rows="3" class="form-control" id="recipe_instruction.3" name="recipe_instruction.3" placeholder="Step 4"></textarea>
                                </li>
                                <br>
                            </ol>
                        </div>
                        <div class="form-group">
                            <label for="price_tag">Price tag: </label>
                            <label class="radio-inline">
                            <input type="radio" id="price_tag" name="price_tag" value="option1"> €
                            </label>
                            <label class="radio-inline">
                            <input type="radio" id="price_tag" name="price_tag" value="option2"> €€
                            </label>
                            <label class="radio-inline">
                            <input type="radio" id="price_tag" name="price_tag" value="option3"> €€€
                            </label>
                        </div>
                   </div>
                   
                    <div class="text-center">
                        <button type="submit" class="btn btn-info active" name="action">Click to add</button>
                        <a href="{{url_for('home_page')}}" class="btn btn-primary" role="button">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}