{% extends 'base.html' %}
{% block content %}

<div class="page-header text-center">
    <h1 class="header-details cursive-font">
        <p>Add your own recipe to my cookbook</p>
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    </h1>
</div>

<div class="container add-rec">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 ">
            <div class="thumbnail">
                <form action="{{url_for('insert_recipe')}}" method="POST">
                    
<!-- Recipe name -->                    
                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="recipe_name">Recipe name:</label>
                            <input type="text" class="form-control" id="recipe_name" name="recipe_name" placeholder="e.g. chicken curry..." required>
                        </div>

<!-- Recipe description -->    
                        <div class="form-group">
                            <label for="recipe_description">Small Description:</label>
                            <textarea type="text" rows="3" class="form-control" id="recipe_description" name="recipe_description" placeholder="e.g. Classic indian dish, easy to make..." required></textarea>
                        </div>
                        
<!-- Image of dish -->                        
                        <div class="form-group">
                            <label for="recipe_img">Add image</label>
                            <input type="file" id="recipe_img" name="recipe_img">
                            <img class="img-responsive" src="" alt="" width="400" height="266"> 
                            <p class="help-block">Add your own image if desired</p>
                        </div>
                        
                        <!--<label for="basic-url">Add your image link:</label>-->
                        <!--<div class="input-group">-->
                        <!--  <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>-->
                        <!--  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">-->
                        <!--</div>-->
                        <!--<br>-->
                        
<!-- Country of origin -->                        
                        <label for="recipe_country">Choose the country of origin:</label>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="recipe_country" id="recipe_country" value="option1" checked>
                                            France
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="recipe_country" id="recipe_country" value="option2">
                                            Thailand
                                            </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="recipe_country" id="recipe_country" value="option3">
                                            Other
                                            </label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="recipe_country" id="recipe_country" value="option4">
                                            America
                                            </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="recipe_country" id="recipe_country" value="option5" >
                                            India
                                            </label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="recipe_country" id="recipe_country" value="option6">
                                            Italy
                                            </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="recipe_country" id="recipe_country" value="option7">
                                            England
                                            </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        
<!-- Course type -->
                        <label for="course_type">Choose the type of course:</label>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="course_type" id="course_type" value="option1" checked>
                                            Breakfast
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="course_type" id="course_type" value="option2">
                                            Starter
                                            </label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="course_type" id="course_type" value="option3">
                                            Main
                                            </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="course_type" id="course_type" value="option4" >
                                            Desert
                                            </label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="course_type" id="course_type" value="option5">
                                            Other
                                            </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
 
<!-- Vegetarian option -->                        
                        <label for="vegetarian_recipe">Vegetarian dish:</label>
                        <br>
                        <div class="radio-inline">
                            <label>
                            <input type="radio" name="vegetarian_recipe" id="vegetarian_recipe" value="option1" checked>
                            Yes
                          </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                            <input type="radio" name="vegetarian_recipe" id="vegetarian_recipe" value="option2">
                            No
                          </label>
                        </div>
                        
                        
<!-- List of ingredients -->
                    </div>
                    <br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-8">
                                 <div class="form-group">
                                    <label for="recipe_ingredients">List of Ingredients:</label>
                                    <p><small>(2 at least)</small></p>
                                    <ol class="ingredients">
                                        <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.0" name="recipe_ingredient.0" placeholder="e.g. Chicken breast" required>
                                        </li>
                                        <br>
                                        <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.1" name="recipe_ingredient.1" placeholder=" " required>
                                        </li>
                                        <br>
                                        <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.2" name="recipe_ingredient.2" placeholder=" ">
                                        </li>
                                        <br>
                                        <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.3" name="recipe_ingredient.3" placeholder=" ">
                                        </li>
                                        <br>
                                        <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.4" name="recipe_ingredient.4" placeholder=" ">
                                        </li>
                                        <br>
                                        
<!-- Collpase ingredients -->                                        
                                        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseIngredients, #collapseIngredientsQuantity" aria-expanded="false" aria-controls="collapseIngredients">
                                          Click here to add more ingredients
                                        </button>
                                        <div class="collapse" id="collapseIngredients">
                                            <br>
                                            <div class="well">
                                                <li>
                                                    <input type="text" class="form-control" id="recipe_ingredient.5" name="recipe_ingredient.5" placeholder=" ">
                                                </li>
                                                <br>
                                                <li>
                                                    <input type="text" class="form-control" id="recipe_ingredient.6" name="recipe_ingredient.6" placeholder=" ">
                                                </li>
                                                <br>
                                                <li>
                                                    <input type="text" class="form-control" id="recipe_ingredient.7" name="recipe_ingredient.7" placeholder=" ">
                                                </li>
                                                <br>
                                                <li>
                                                    <input type="text" class="form-control" id="recipe_ingredient.8" name="recipe_ingredient.8" placeholder=" ">
                                                </li>
                                                <br>
                                                <li>
                                                    <input type="text" class="form-control" id="recipe_ingredient.9" name="recipe_ingredient.9" placeholder=" ">
                                                </li>
                                                <br>
                                            </div>
                                        </div>
                                        
                                    </ol>
                                </div>
                            </div>
                            
<!-- List of ingredients quantities -->                            
                             <div class="col-xs-4">
                                 <div class="form-group">
                                    <label for="recipe_ingredients_quantity">Quantity:</label>
                                    <p><small>(2 at least)</small></p>
                                    <ul class="quantity">
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredients_quantity.0" name="recipe_ingredients_quantity.0" placeholder="e.g. 200g" required>
                                        </li>
                                        <br>
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredients_quantity.1" name="recipe_ingredients_quantity.1" required>
                                        </li>
                                        <br>
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredients_quantity.2" name="recipe_ingredients_quantity.2">
                                        </li>
                                        <br>
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredients_quantity.3" name="recipe_ingredients_quantity.3">
                                        </li>
                                        <br>
                                        <li>
                                        <input type="text" class="form-control" id="recipe_ingredients_quantity.4" name="recipe_ingredients_quantity.4">
                                        </li>
                                        <br>

<!-- Collapse ingredients quantity -->                                        
                                        <div class="collapse" id="collapseIngredientsQuantity">
                                            <br>
                                            <div class="well collapseQuantity">
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.5" name="recipe_ingredients_quantity.5">
                                                </li>
                                                <br>
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.6" name="recipe_ingredients_quantity.6">
                                                </li>
                                                <br>
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.7" name="recipe_ingredients_quantity.7">
                                                </li>
                                                <br>
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.8" name="recipe_ingredients_quantity.8">
                                                </li>
                                                <br>
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.9" name="recipe_ingredients_quantity.9">
                                                </li>
                                                <br>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                   
<!-- Recipe method -->                    
                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="recipe_instruction">Recipe Method <small>(At least 1 step required):</small></label>
                            <ol class="instructions">
                                <li>
                                <textarea type="text" rows="3" class="form-control" id="recipe_instruction.0" name="recipe_instruction.0" placeholder="Step 1" required></textarea>
                                </li>
                                <br>
                                <li>
                                <textarea type="text" rows="3" class="form-control" id="recipe_instruction.1" name="recipe_instruction.1" placeholder="Step 2"></textarea>
                                </li>
                                <br>
                                <li>
                                <textarea type="text" rows="3" class="form-control" id="recipe_instruction.2" name="recipe_instruction.2" placeholder="Step 3"></textarea>
                                </li>
                                <br>
                                <li>
                                    <textarea type="text" rows="3" class="form-control" id="recipe_instruction.3" name="recipe_instruction.3" placeholder="Step 4"></textarea>
                                </li>
                                <br>
                                <li>
                                    <textarea type="text" rows="3" class="form-control" id="recipe_instruction.4" name="recipe_instruction.4" placeholder="Step 5"></textarea>
                                </li>
                                <br>
<!-- Collapse steps -->                                
                                <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseSteps" aria-expanded="false" aria-controls="collapseSteps">
                                  Click here to add more steps
                                </button>
                                <div class="collapse" id="collapseSteps">
                                    <br>
                                    <div class="well">
                                        
                                        <li>
                                        <textarea type="text" rows="3" class="form-control" id="recipe_instruction.5" name="recipe_instruction.5" placeholder="Step 6"></textarea>
                                        </li>
                                        <br>
                                        <li>
                                        <textarea type="text" rows="3" class="form-control" id="recipe_instruction.6" name="recipe_instruction.6" placeholder="Step 7"></textarea>
                                        </li>
                                        <br>
                                        <li>
                                        <textarea type="text" rows="3" class="form-control" id="recipe_instruction.7" name="recipe_instruction.7" placeholder="Step 8"></textarea>
                                        </li>
                                        <br>
                                        <li>
                                        <textarea type="text" rows="3" class="form-control" id="recipe_instruction.8" name="recipe_instruction.8" placeholder="Step 9"></textarea>
                                        </li>
                                        <br>
                                        <li>
                                        <textarea type="text" rows="3" class="form-control" id="recipe_instruction.9" name="recipe_instruction.9" placeholder="Step 10"></textarea>
                                        </li>
                                    </div>
                                </div>
                            </ol>
                        </div>
 
<!-- Price tag -->                       
                        <label for="price_tag">Cost: </label>
                        <div class="form-group">
                            
                            <label class="radio-inline">
                            <input type="radio" id="price_tag" name="price_tag" value="option1" checked> €
                            </label>
                            <label class="radio-inline">
                            <input type="radio" id="price_tag" name="price_tag" value="option2"> €€
                            </label>
                            <label class="radio-inline">
                            <input type="radio" id="price_tag" name="price_tag" value="option3"> €€€
                            </label>
                        </div>
                   </div>

<!-- Add and cancel buttons -->                   
                    <div class="text-center">
                        <button type="submit" class="btn btn-info active" name="action">Click to add</button>
                        <a href="{{url_for('home_page')}}" class="btn btn-primary" role="button">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}