{% extends 'base.html' %}
{% block content %}

<div class="container add-rec">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 ">
            <div class="thumbnail">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Recipe name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="e.g. Chicken Curry">
                    </div>
                     <div class="form-group">
                        <label for="exampleInputEmail1">Small Description</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="e.g. Classic indian dish, easy to make">
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputFile">Add image</label>
                        <input type="file" id="exampleInputFile">
                        <p class="help-block">Add your own image if desired</p>
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputPassword1">Country Of Origin</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="e.g. France">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Type Of Course</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="e.g. Main">
                    </div>
                    
                     <div class="checkbox">
                        <label><input type="checkbox"> Tick if vegeterian </label>
                    </div>
                    
                     <div class="form-group">
                        <label for="exampleInputEmail1">List of Ingredients</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="e.g. Chicken breast, onions, green beans...">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Recipe Method</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter all steps for cooking your recipe">
                    </div>
                    
                    <div class="form-group">
                    <label for="exampleInputPassword1">Price tag: </label>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> €
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> €€
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> €€€
                    </label>
                    </div>
                
                    <button type="submit" class="btn btn-default">Click to add</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}