{% extends 'base.html' %}
{% block content %}

<div class="page-header text-center">
    <h1 class="header-details cursive-font">
        <p>Adjust recipes to your own tastes</p>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </h1>
</div>

<div class="container add-rec">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 ">
            <div class="thumbnail">
                <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST">
                    <div class="container-fluid">
<!-- Recipe name -->                        
                        <div class="form-group">
                            <label for="recipe_name">Recipe name: <small>(required)</small></label>
                            <input type="text" class="form-control" id="recipe_name" name="recipe_name" value="{{recipe.recipe_name}}"  required>
                        </div>

<!-- Recipe description -->                         
                        <div class="form-group">
                            <label for="recipe_description">Small Description: <small>(required)</small></label>
                            <textarea type="text" rows="3" class="form-control" id="recipe_description" name="recipe_description" value="{{recipe.recipe_description}}" required>{{recipe.recipe_description}}</textarea>
                        </div>
                        
<!-- Image of dish --> 
                        <div class="form-group">
                            <label for="recipe_img">Add or change the image if desired:</label>
                            <input type="text" class="form-control" id="recipe_img" name="recipe_img" value="{{recipe.recipe_img}}">
                        </div>
                        
<!-- Country of origin --> 
                        <label for="recipe_country">Choose the country of origin:</label>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="radio">
                                        {% if recipe.recipe_country == "option1" %}
                                            <label>
                                                <input type="radio" name="recipe_country" value="option1" checked>
                                                France</input>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input type="radio" name="recipe_country" value="option1">France</input>
                                            </label>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="radio">
                                        {% if recipe.recipe_country == "option2" %}
                                            <label>
                                                <input type="radio" name="recipe_country" value="option2" checked>
                                                Thailand</input>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input type="radio" name="recipe_country" value="option2">Thailand</input>
                                            </label>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="radio">
                                        {% if recipe.recipe_country == "option3" %}
                                            <label>
                                                <input type="radio" name="recipe_country" value="option3" checked>
                                                Other</input>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input type="radio" name="recipe_country" value="option3"> Other</input>
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <div class="col-xs-4">
                                    <div class="radio">
                                        {% if recipe.recipe_country == "option4" %}
                                            <label>
                                                <input type="radio" name="recipe_country" value="option4" checked>
                                                America</input>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input type="radio" name="recipe_country" value="option4"> America</input>
                                            </label>
                                        {% endif %}
                                    </div>
                                    <div class="radio">
                                        {% if recipe.recipe_country == "option5" %}
                                            <label>
                                                <input type="radio" name="recipe_country" value="option5" checked>
                                                India</input>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input type="radio" name="recipe_country" value="option5"> India</input>
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="radio">
                                        {% if recipe.recipe_country == "option6" %}
                                            <label>
                                                <input type="radio" name="recipe_country" value="option6" checked>
                                                Italy</input>
                                            </label>
                                            {% else %}
                                            <label>
                                                <input type="radio" name="recipe_country" value="option6"> Italy</input>
                                            </label>
                                        {% endif %}
                                    </div>
                                    <div class="radio">
                                        {% if recipe.recipe_country == "option7" %}
                                            <label>
                                                <input type="radio" name="recipe_country" value="option7" checked>
                                                England</input>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input type="radio" name="recipe_country" value="option7"> England</input>
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

<!-- Course type -->                         
                        <label for="course_type">Choose the type of course:</label>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="radio">
                                        {% if recipe.course_type == "option1" %}
                                            <label>
                                                <input type="radio" name="course_type" value="option1" checked>
                                                Breakfast</input>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input type="radio" name="course_type"  value="option1"> Breakfast</input>
                                            </label>
                                        {% endif %}
                                    </div>
                                    <div class="radio">
                                        {% if recipe.course_type == "option2" %}
                                            <label>
                                                <input type="radio" name="course_type" value="option2" checked>
                                                Starter</input>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input type="radio" name="course_type" value="option2"> Starter</input>
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="radio">
                                        {% if recipe.course_type == "option3" %}
                                            <label>
                                                <input type="radio" name="course_type" value="option3" checked>
                                                Main</input>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input type="radio" name="course_type" value="option3"> Main</input>
                                            </label>
                                        {% endif %}
                                    </div>
                                    <div class="radio">
                                        {% if recipe.course_type == "option4" %}
                                            <label>
                                                <input type="radio" name="course_type" value="option4" checked>
                                                Desert</input>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input type="radio" name="course_type" value="option4"> Desert</input>
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="radio">
                                        {% if recipe.course_type == "option5" %}
                                            <label>
                                                <input type="radio" name="course_type" value="option5" checked>
                                                Other</input>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input type="radio" name="course_type" value="option5"> Other</input>
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        
<!-- Vegetarian option --> 
                        <label for="vegetarian_recipe">Vegetarian dish:</label>
                        <br>
                        <div class="radio-inline">
                            {% if recipe.vegetarian_recipe == "option1" %}
                                <label>
                                    <input type="radio" name="vegetarian_recipe" value="option1" checked>
                                    Yes</input>
                                </label>
                            {% else %}
                                <label>
                                    <input type="radio" name="vegetarian_recipe"  value="option1"> Yes</input>
                                </label>
                            {% endif %}
                        </div>
                        <div class="radio-inline">
                            {% if recipe.vegetarian_recipe == "option2" %}
                                <label>
                                    <input type="radio" name="vegetarian_recipe" value="option2" checked>
                                    No</input>
                                </label>
                            {% else %}
                                <label>
                                    <input type="radio" name="vegetarian_recipe" value="option2" > No</input>
                                </label>
                            {% endif %}
                        </div>
                    </div>
                        <br>

                    
<!-- List of ingredients name --> 
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="recipe_ingredients">List of Ingredients:</label>
                                    <p><small>(1 at least)</small></p>
                                    <ol class="ingredients">
                                            <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.0" name="recipe_ingredient.0" value="{{recipe.recipe_ingredient0}}" placeholder="{{recipe.recipe_ingredient0}}" required>
                                            </li>
                                            <br>
                                            <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.1" name="recipe_ingredient.1" value="{{recipe.recipe_ingredient1}}" placeholder=" {{recipe.recipe_ingredient1}}">
                                            </li>
                                            <br>
                                            <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.2" name="recipe_ingredient.2" value="{{recipe.recipe_ingredient2}}" placeholder=" {{recipe.recipe_ingredient2}}">
                                            </li>
                                            <br>
                                            <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.3" name="recipe_ingredient.3" value="{{recipe.recipe_ingredient3}}" placeholder=" {{recipe.recipe_ingredient3}}">
                                            </li>
                                            <br>
                                            <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.4" name="recipe_ingredient.4" value="{{recipe.recipe_ingredient4}}" placeholder=" {{recipe.recipe_ingredient4}}">
                                            </li>
                                            <br>
                                            <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.5" name="recipe_ingredient.5" value="{{recipe.recipe_ingredient5}}" placeholder=" {{recipe.recipe_ingredient5}}">
                                            </li>
                                            <br>
                                            <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.6" name="recipe_ingredient.6" value="{{recipe.recipe_ingredient6}}" placeholder=" {{recipe.recipe_ingredient6}}">
                                            </li>
                                            <br>
                                            <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.7" name="recipe_ingredient.7" value="{{recipe.recipe_ingredient7}}" placeholder=" {{recipe.recipe_ingredient7}}">
                                            </li>
                                            <br>
                                            <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.8" name="recipe_ingredient.8" value="{{recipe.recipe_ingredient8}}" placeholder=" {{recipe.recipe_ingredient8}}">
                                            </li>
                                            <br>
                                            <li>
                                            <input type="text" class="form-control" id="recipe_ingredient.9" name="recipe_ingredient.9" value="{{recipe.recipe_ingredient9}}" placeholder=" {{recipe.recipe_ingredient9}}">
                                            </li>
                                            <br>
                                    </ol>
                                </div>
                            </div>
                            
<!-- List of ingredients quantity -->   
                             <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="recipe_ingredients">Quantity:</label>
                                    <p><small>(if required)</small></p>
                                        <ul class="quantity">
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.0" name="recipe_ingredients_quantity.0" value="{{recipe.recipe_ingredients_quantity0}}">
                                                </li>
                                                <br>
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.1" name="recipe_ingredients_quantity.1" value="{{recipe.recipe_ingredients_quantity1}}">
                                                </li>
                                                <br>
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.2" name="recipe_ingredients_quantity.2" value="{{recipe.recipe_ingredients_quantity2}}">
                                                </li>
                                                <br>
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.3" name="recipe_ingredients_quantity.3" value="{{recipe.recipe_ingredients_quantity3}}">
                                                </li>
                                                <br>
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.4" name="recipe_ingredients_quantity.4" value="{{recipe.recipe_ingredients_quantity4}}">
                                                </li>
                                                <br>
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.5" name="recipe_ingredients_quantity.5" value="{{recipe.recipe_ingredients_quantity5}}">
                                                </li>
                                                <br>
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.6" name="recipe_ingredients_quantity.6" value="{{recipe.recipe_ingredients_quantity6}}">
                                                </li>
                                                <br>
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.7" name="recipe_ingredients_quantity.7" value="{{recipe.recipe_ingredients_quantity7}}">
                                                </li>
                                                <br>
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.8" name="recipe_ingredients_quantity.8" value="{{recipe.recipe_ingredients_quantity8}}">
                                                </li>
                                                <br>
                                                <li>
                                                <input type="text" class="form-control" id="recipe_ingredients_quantity.9" name="recipe_ingredients_quantity.9" value="{{recipe.recipe_ingredients_quantity9}}">
                                                </li>
                                                <br>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>                 
                    
<!-- Recipe method -->   
                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="recipe_instruction">Recipe Method: <small>(At least 1 step required)</small></label>
                            <ol class="instructions">
                                <li>
                                    <textarea type="text" rows="3" class="form-control" id="recipe_instruction.0" name="recipe_instruction.0" value="{{recipe.recipe_instruction0}}" required>{{recipe.recipe_instruction0}}</textarea>
                                </li>
                                <br>
                                <li>
                                    <textarea type="text" rows="3" class="form-control" id="recipe_instruction.1" name="recipe_instruction.1" value="{{recipe.recipe_instruction1}}">{{recipe.recipe_instruction1}}</textarea>
                                </li>
                                <br>
                                <li>
                                    <textarea type="text" rows="3" class="form-control" id="recipe_instruction.2" name="recipe_instruction.2" value="{{recipe.recipe_instruction2}}">{{recipe.recipe_instruction2}}</textarea>
                                </li>
                                <br> 
                                <li>
                                    <textarea type="text" rows="3" class="form-control" id="recipe_instruction.3" name="recipe_instruction.3" value="{{recipe.recipe_instruction3}}">{{recipe.recipe_instruction3}}</textarea>
                                </li>
                                <br> 
                                <li>
                                    <textarea type="text" rows="3" class="form-control" id="recipe_instruction.4" name="recipe_instruction.4" value="{{recipe.recipe_instruction4}}">{{recipe.recipe_instruction4}}</textarea>
                                </li>
                                <br>
                                <li>
                                    <textarea type="text" rows="3" class="form-control" id="recipe_instruction.5" name="recipe_instruction.5" value="{{recipe.recipe_instruction5}}">{{recipe.recipe_instruction5}}</textarea>
                                </li>
                                <br> 
                                <li>
                                    <textarea type="text" rows="3" class="form-control" id="recipe_instruction.6" name="recipe_instruction.6" value="{{recipe.recipe_instruction6}}">{{recipe.recipe_instruction6}}</textarea>
                                </li>
                                <br> 
                                <li>
                                    <textarea type="text" rows="3" class="form-control" id="recipe_instruction.7" name="recipe_instruction.7" value="{{recipe.recipe_instruction7}}">{{recipe.recipe_instruction7}}</textarea>
                                </li>
                                <br> 
                                <li>
                                    <textarea type="text" rows="3" class="form-control" id="recipe_instruction.8" name="recipe_instruction.8" value="{{recipe.recipe_instruction8}}">{{recipe.recipe_instruction8}}</textarea>
                                </li>
                                <br> 
                                 <li>
                                    <textarea type="text" rows="3" class="form-control" id="recipe_instruction.9" name="recipe_instruction.9" value="{{recipe.recipe_instruction9}}">{{recipe.recipe_instruction9}}</textarea>
                                </li>
                                <br> 
                            </ol>
                        </div>

<!-- Cost -->               
                        <label for="price_tag">Cost: </label>
                        <div class="form-group">
                            <label class="radio-inline">
                                {% if recipe.price_tag == "option1" %}
                            <input type="radio" name="price_tag" value="option1" checked> €</input>
                                {% else %}
                            <input type="radio" name="price_tag" value="option1"> €</input>  
                                {% endif %}
                            </label>
                            <label class="radio-inline">
                                {% if recipe.price_tag == "option2" %}
                            <input type="radio" name="price_tag" value="option2" checked> €€</input>
                                {% else %}
                            <input type="radio" name="price_tag" value="option2"> €€</input>  
                                {% endif %}
                            </label>
                            <label class="radio-inline">
                                {% if recipe.price_tag == "option3" %}
                            <input type="radio" name="price_tag" value="option3" checked> €€€</input>
                                {% else %}
                            <input type="radio" name="price_tag" value="option3"> €€€</input>  
                                {% endif %}
                            </label>
                        </div>
                   </div>
                   
                    <div class="text-center">
                        <button type="submit" class="btn btn-info active" name="action">Update Recipe</button>
                        <a href="/recipe_details/{{ recipe._id }}" class="btn btn-primary" role="button">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}