{% extends 'base.html' %}
{% block content %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="indian food pic">
      <div class="carousel-caption">
        <h2>Delices From India</h2>
      </div>
    </div>
    <div class="item">
      <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="chicken wings pic">
      <div class="carousel-caption">
        <h2>Comfort Food</h2>
      </div>
    </div>
    <div class="item">
      <img src="https://images.pexels.com/photos/248444/pexels-photo-248444.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="sushi pic">
      <div class="carousel-caption">
        <h2>World Cuisine</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container text-center">
        <h1>...Come on in...</h1>
        <p>Discover recipes from all over the world</p>
   </div>
</div>

<!-- Water image -->
<img src="https://images.pexels.com/photos/372882/pexels-photo-372882.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="100%" alt="ingredients pic"></img>

{% endblock %}