{% extends 'base.html' %}
{% block content %}

<div class="page-header text-center">
  <h1 class="header-details cursive-font">
  <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> {{recipe.recipe_name}}<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 ">
            <div class="thumbnail">
                <img src="{{ recipe.recipe_img }}" width="100%" alt="...">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Ingredients</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Method</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <p class="rec-det">{{recipe.recipe_ingredients}}</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <p class="rec-det">{{recipe.recipe_instruction}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p class="text-center">
    <a href="#" class="btn btn-warning btn-lg" role="button">Edit Recipe</a>
    <a href="#" class="btn btn-danger btn-lg" role="button">Delete Recipe</a>
</p>


<script>
    $('#myTabs a').click(function (e) {
  e.preventDefault();
  $(this).tab('show')
})
</script>

{% endblock %}






