{% extends 'base.html' %}
{% block content %}

<div class="page-header text-center">
  <h1 class="header-details"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> {{recipe.recipe_name}} <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></h1>
</div>
<!--<div class="container recipe_details_html">-->
<!--    <div class="row  row-no-gutters">-->
<!--        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-10 col-lg-offset-1">-->
<!--        <img src="{{ recipe.recipe_img }}" width="100%" alt=""> -->
<!--        <p class="rec-det">{{recipe.recipe_ingredients}}</p>-->
<!--        <p class="rec-det">{{recipe.recipe_instruction}}</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->




<div class="container recipe_details_html">
    <div class="row  row-no-gutters">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-10 col-lg-offset-1">
            <img src="{{ recipe.recipe_img }}" width="100%" alt="">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Ingredients</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Method</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <p class="rec-det">{{recipe.recipe_ingredients}}</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <p class="rec-det">{{recipe.recipe_instruction}}</div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $('#myTabs a').click(function (e) {
  e.preventDefault();
  $(this).tab('show')
})
</script>

{% endblock %}






